body{
	width: 5000px;
	font-family: consolas;
}

#cpt_net{
	border: 1px solid;
	border-radius: 5px;
}

.node{
  stroke: #fff;
  stroke-width: 1.5px;
  fill: coral;
}

.link{
  stroke: #999;
  stroke-opacity: .6;
}

.node_text{
	font-size: 12px;
	fill: black;
}

.level{
	margin: 10px
}

.concept{
	background-color: WhiteSmoke;
	float: left;
	margin: 10px;
	font-weight: bold;
	border: 1px solid;
}

.name{
	text-align: center;
}