body{
	font-family: consolas;
}
#icon{
	margin-right: 10px;
}

#title{
	height: 50px;
}

#scene_input{
	height: 400px;
	clear: both;
}

#scene_fig{
	float: left;
}

.rectangle{
	stroke-width: 2;
	stroke: #0000FF;
	fill-opacity: 0.3;
	fill: #0000FF;
}

#forms {
	float:left;
}

#add_schema {
	margin-left: 10px;
	float: left;
}

#add_subscene {
	margin-left: 10px;
	float: right;
}

fieldset{
	width: 400px;
}

label.field{
	text-align: right;
	float: left;
	font-weight: bold;
	margin-left: 10px;
}

legend{
	font-weight: bold;
}

fieldset div{
	clear: both;
	padding: 5px;
	float: left;
}

fieldset div.area{
	width: 400px;
}

fieldset input[type="text"]{
	width: 300px;
	float: left;
	margin-left: 10px;
}

select{
	width: 300px;
	float: left;
	margin-left: 10px;
}

fieldset input[type="text"].num_val{
	width: 30px;
}

fieldset textarea{
	width: 300px;
	float: left;
	margin-left: 10px;
}

#scene_content{
	clear:both;
	border: 10px;
	margin-left: 10px;
	margin-top: 10px;
	height:200px;
}

.section_title{
	font-weight: bold;
	font-size: 12pt;
}

#defined_schemas{
	float:left;
	width: 400px;
}
#defined_subscenes{
	float:left;
	width: 400px;
}
.save-reset{
	clear:both;
	margin: 20px;
}

.schema{
	margin: 10px;
	font-size:10pt;
	background-color: #9090EE;
	padding: 5px;
}

.highlight_schema{
	margin: 10px;
	font-size:10pt;
	background-color: #5050EE;
	padding: 5px;
}

.schema_info{
	font-weight: bold;
}

.schema_details{
	margin-left: 10px;	
}

.schema_data{
	margin-left: 10px;
	background-color: #DDDDFF;
}

.subscene{
	margin: 10px;
	font-size:10pt;
	background-color: #90EE90;
	padding: 5px;
}

.highlight_subscene{
	margin: 10px;
	font-size:10pt;
	background-color: #50EE50;
	padding: 5px;
}

.subscene_info{
	font-weight: bold;
}

.subscene_details{
	margin-left: 10px;	
}

.disp_checkbox{
	float: right;
}

.area{
	fill-opacity: 0.3;
	fill: #0000FF;
}

.highlight_area{
	fill-opacity: 0.4;
	fill: #0000FF;
}

#arrow{
	fill: red;
	fill-opacity: 0.5;
}

.arrow{
	stroke: red;
	stroke-width: 2;
	stroke-opacity: 0.5;
	fill: none;
}

.highlight_arrow{
	stroke: red;
	stroke-width: 2;
	stroke-opacity: 1;
	fill: none;
}
