body{
	width: 3000px;
	font-family: consolas;
}

#sim_param{
	margin-top: 10px;
	margin-bottom: 10px;
}

#time{
	margin-left: 10px;
	margin-top: 10px;
}

#focus{
	margin-left: 10px;
	margin-top: 10px;
}

#scene{
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

#scene_pic{
	margin-left: 10px;
	float:left;
}

#vis_wm_div{
	margin-left: 10px;
	border: 2px solid;
    border-radius: 10px;
	float:left;
}

.mask{
	position: absolute;
	background-color: blue;
	opacity: 0.1;
	border-radius: 100px;
}

.highlight_mask{
	background-color:blue;
	opacity: 0.5;
	border-radius: 100px;
}

#working_memories{
	margin-top: 10px;
	margin-bottom: 10px;
}

#sem_wm_div{
	float: left;
	margin-left: 10px;
	border: 2px solid;
    border-radius: 10px;
}

.link {
	stroke-width: 2;
	stroke: black;
	stroke-opacity: 0.6;
}

.node {
	stroke: black;
	stroke-width: 2;
	stroke-opacity: .5;
}

.node.alive_false {
	fill: #999999;
}

.node.fresh_true.alive_true {
	fill: #EE9090;
}

.node.fresh_false.alive_true {
	fill: #EECCCC;
}

.node.old_true {
	fill: #EECCCC;
	stroke: red;
}

.node.alive_true.active_false {
	fill: #FFFFFF;
	stroke: black;
}

.node.highlight {
	fill: red;
}

.node_text {
	fill: black;
	font-size: 12px;
}

.edge_text {
	fill: black;
	font-size: 10px;
}

#gram_wm_div{
	float: left;
	margin-left: 10px;
	border: 2px solid;
    border-radius: 10px;
}

.cxn_link {
	stroke-width: 2;
	stroke: black;
	stroke-opacity: 0.6;
}

.cxn_link.cooperation{
	stroke-width: 2;
	stroke: black;
	stroke-opacity: 0.6;
}

.cxn_link.competition{
	stroke-width: 4;
	stroke: red;
	stroke-dasharray: 2,2;
}

.cxn_link.hide{
	stroke-opacity: 0.2;
}

.cxn_node {
	stroke: black;
	stroke-width: 2;
	stroke-opacity: .5;
}

.cxn_node.alive_false {
	fill: #999999;
}

.cxn_node.fresh_true.alive_true {
	fill: #90EE90;
}

.cxn_node.fresh_false.alive_true {
	fill: #CCEECC;
}

.cxn_node.old_true {
	fill: #CCEECC;
	stroke: red;
}

.cxn_node.alive_true.active_false {
	fill: #FFFFFF;
	stroke: black;
}

.cxn_node.highlight {
	fill: red;
}

.cxn_node.hide{
	stroke-opacity: 0;
	opacity: 0.2;
}

.cxn_text {
	fill: black;
	font-size: 12px;
}

.cxn_text.hide {
	opacity: 0.2;
}

#cxn_img{
	position: fixed;
	width: 20%;
	height: 25%;
	opacity: 0.9;
}

#output{
	float: left;
	margin-left: 10px;
}

#phonWM{
	border: 2px solid;
    border-radius: 10px;
	position: relative;
}
#phonWM_title{
	font-size: 14px;
	font-weight: bold;
}

#phonWM_content{
	font-size: 12px;
	font-weight: normal;
}

#utterance{
	margin-top: 10px;
	border: 2px solid;
    border-radius: 10px;
	position: relative;
}

#utter_title{
	font-size: 14px;
	font-weight: bold;
}

#utter_content{
	font-size: 12px;
	font-weight: normal;
	fill: red;
}

#assemblages{
	float: left;
	margin-left: 10px;
}

.an_assemblage{
	font-size: 11px;
}

.an_assemblage.winner{
	color: red;
}

.an_assemblage.valid{
	color: green;
}

.an_assemblage.invalid{
	color: black;
}